<!DOCTYPE html>
<html>
<head>
	<title>GeoTec Informática</title>
	<meta charset="utf-8">
	<meta name="author" content="Geovane Oliveira de Carvalho">
	<meta name="description" content="Esta página é uma aplicação para assistência técnica em informática e eletrônica">
	<meta name="keywords" content="técnico de informática, eletrônica, assistência técnica, instalações, cftv, sistema, formatação, conserto">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<link rel="shortcut icon" href="img/eletronica.ico" type="image/x-icon"/>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="css/estilo.css">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


</head>
	

<body class="bg">
	
	<div class="container bgcontato" >
		<div class="row">
			<div class="col">
				
				
				<div class="containet-12">
					<div class="row">
						<div class="col">
							
							<div class="card border-info">
								<div class="card-header">
									
									<h2>Contatos</h2>
								</div>
								<div class="card-body">
									<h3 class="card-title"><b>
										Click nos links abaixo!
									<b></h3>
							<p class="card-text">
								<h4><a href="https://wa.me/5561995488068?text=Olá%20Geovane Carvalho" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> (061) 99548-8068</a></h4>
								<h4><i class="fa fa-envelope" aria-hidden="true"></i> eletrogeotec@outlook.com</h4>
								
							<div class="row">
							</p>
						
							</div>
						<div class="card-footer">
							Obrigado por visitar nosso site.
						</div>
				</div>
			</div>
		</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

<h2>Fale conosco</h2>
<div class="container bgcontato">
	<div class="row">
		<div class="col-8">
			<form>
				<div class="form-group">

				  <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Digite o seu Nome Completo"></br>

				  			
				  <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu Telefone"></br>

				   <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu Email: nome@exemplo.com"></br>
				  </div>
  				<div class="form-group">
    						
    			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escreva sua mensagem"></textarea					>
  				</div>
			</form>
		</div>	
	</div>
</div>


<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-google-plus"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fa fa-linkedin"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fa fa-dribbble"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; 2018 Copyrigh: Geovane Oliveira de Carvalho
    </div>
    <!-- Copyright -->

  </footer>

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>


</body>
</html>